@import url("https://fonts.googleapis.com/css2?family=Robotofamily=optional-2nd-font-open-serif:wght@400;700&display=swap")

:root {
    --primary-color: #235557;
    --secondary-color: #D16200;
    --accent1-color: #FFFFFF;
    --accent2-color: #3A3017;

    --heading-font: "font-sans-serif", serif;
    --paragraph-font: "optional-2nd-font-open-serif", sans-serif;

    --nav-background-color: #6C6C6C;
    --nav-link-color: #B3FCF9;
    --nav-hover-link-color: #A8E9F9;
    --nav-hover-background-color: #666;
    --text-color: #333;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
    color: ver(--text-color)
}

h1, h2, h3, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
    display: flex;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--accent1-color);
    text-align: center;
}

.logo-conteiner {
    flex: 1;
}

.logo{
    max-width: 100px;
    border-radius: 50%;
}

nav {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
}


nav a {
    display: block;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
}

nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    text-align: center;
}

.hero h2 {
    position: absolute;
    top: 20px;
    right: 200px;
    left: 200px;
    text-align: center;
    color:#FFFFFF;
    padding: 20px;
    background-color: rgba(19, 19, 20, 0.521);
}

.action p {
    position: absolute;
    top: 350px;
    right: 200px;
    left: 100px;
    text-align: left;
    color:#FFFFFF;
    padding: 20px;
    background-color: rgba(37, 41, 92, 0.356);
    max-width: 549px;
    margin: auto;
    
}

.action img{
    position: absolute;
    top: 354px;
    right: 98px;
    width: 100px;
    height: auto;
    max-width: 450px;
    margin: auto;

}

.hero img {
    width: 100%;
    height: auto;
}

.hero article {
    background-color: rgba(67, 107, 218, 0.466);
    padding: 20px;
}


.hero article img {
    float: right;
    margin-left: 20px;
}

.history, .adventure {
    padding: 20px 0;
}

.history .history-content {
    display: flex;
    align-items: center;
}

.history img {
    margin-left: 20px;
    max-width: 300px;
}

.adventure .gallery figcaption, .employee-profile .gallery figcaption {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    gap: 10px;
}

.social-media-link {
    text-decoration: none;
    color: var(--primary-color);
    left: 200px;
    right: 200px;
}

footer {
    margin-top: 10px;
    border-top: 2rem #FFFFFF;
    text-align: center;
    padding: 20px 0;
    background-color: var(--accent1-color);
}

footer img{
    width: 50px;
    height: 50px;
}

.company-info p, .contact-form label {
    margin: center;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form input[type="radio"] {
    margin-right: 5px;
}

.contact-form input[type="checkbox"] {
    margin-right: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: var(--secondary-color);
}