body{
    font-family: Robotoq, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.quiz-container h1 {
    text-align: center;
}

.quiz-container .form-group {
    margin-bottom: 15px;
}

.quiz-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.quiz-container input[type="text"],.quiz-container textarea, .quiz-container select, .quiz-container input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.quiz-container button[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.quiz-container button[type="submit"]:hover {
    background-color: #218838;
}
